@{
    ViewBag.Title = "Pushqa Samples: Home";
}

<h2>Pushqa Samples: Home</h2>
<ul>
    <li>@Html.ActionLink("Interval With Skip and Take", "IntervalWithSkipAndTake")</li>
    <li>@Html.ActionLink("Process Information Viewer", "ProcessInfo")</li>
    <li>@Html.ActionLink("Stock Ticker", "StockTicker")</li>
    <li>@Html.ActionLink("Filtered SignalR Persistent Connection", "FilteredChat")</li>
</ul>