@{
    ViewBag.Title = "Pushqa Samples: Process Information Viewer";
}

<h2>Pushqa Samples: Interval Sample with Take and Skip</h2>

<div>@Html.ActionLink("Samples Home", "Index")</div>

<p>This sample will listen to an Interval timer which pushes an auto incrementing integer in a series of events occuring every 1 second. The query will only take every even numbered event, skip the first 2 events and only take 5 in total.</p>
<p>Uri: http://myserver/myapp/events/OneSecondTimer/?$filter=(MessageId mod 2) eq 0&$skip=2&$top=5</p>

<div>
    <script type="text/javascript">
        $(function () {
            // Setup our connection
            var connection = $.connection('../events/OneSecondTimer/', { $filter: "(MessageId mod 2) eq 0", $skip: 2, $top: 5 });
            
            // Append each message received
            connection.received(function (data) {
                if (data == 'Pushqa:StreamComplete') {
                    connection.stop();
                    $('#messages').append('<li>Complete</li>');
                }
                else {
                    $('#messages').append('<li>Id=' + data.MessageId + ', Description=' + data.Description + ', Timestamp=' + data.TimeStamp + '</li>');
                }
            });

            connection.starting(function () {
                $('#messages').append("'<li>Starting Connection</li>");
            });

            connection.start();

            $("#connect").click(function () {
                connection.start();
            });

            $("#disconnect").click(function () {
                connection.stop();
            });
        });


    </script>
    <input type="button" id="connect" value="Connect" />
    <input type="button" id="disconnect" value="Disconnect" />
    <ul id="messages"></ul>
</div>