<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" />
  <package id="Linq2Rest" version="2.4.1.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="RxJS-Main" version="1.0.10621.0" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Providers" version="2.1.30214.0" targetFramework="net40" />
</packages>